
//main colors
$pickled-bluewood: #2B4651;
$link-water: #DDECF7;
$tusk: #F4F4C4;  //yellowish
$fountain-blue: #64C4B2;

//black-white color scheme
$black: #000;
$white: #FFFFFF;
$silver: #ccc;
$concrete: #f3f3f3;
$cool-gray: #888b8d;

$main-shaft: #222222;
$darkgray: rgba($black, 0.1);

$tree-poppy: #f9921c;

//functional colors
$navbar-background: rgba(0,0,0,0.65);
$navbar-text-background: #2A2C39;
$navbar-text: $white;

$snowflake-color: $link-water;
$title-color: $link-water;
$h1-color: $tusk;

$main-text-color: $main-shaft;

$link-color: $main-text-color;
$link-hover-color: $link-color;
$link-visited-color: $link-color;
$link-color-visited: $main-text-color;

$main-border: $link-water;

$border-color: $main-text-color;
$section-border-color: $cool-gray;
$section-bg-color: rgba( $white, 0.3);

$hero-unit-overlay: rgba(0,0,0,0.25);
$hero-unit-overlay-on-bw: rgba(0,0,0,0.45);
$header-overlay: rgba(255,255,255,0.75);
$header-transparent-gradient-stop: rgba(0,0,0,0);

$footer-overlay: rgba(0,0,0,0.65);
$footer-transparent-gradient-stop: rgba(0,0,0,0);

