$min-pad: 1024px;

$max-small: 1000px;

$text-content-width: 960px;

$mobile-navi-max: 792px;
$screen-navi-min: $mobile-navi-max + 1;

$navi_screen: $screen-navi-min;
$navi_mobile: $navi_screen - 1;

