<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
                                    
<nav class="site-nav">


<ul class="flex-container-navi">
  <!-- Brand and toggle get grouped for better mobile display -->
  <li class="flex-item bullet-img">
    <span class="bullet-info"><a href="/">etusivu</a></span>
  </li>
                          
  <li class="flex-item bullet-img"> <span class="bullet-info"><a href="/toimiva-perhe-kurssi" class="active">toimiva-perhe -kurssi</a></span>
  </li>
  <li class="flex-item bullet-img"> <span class="bullet-info"><a href="/tyonohjaus">työnohjaus</a></span>
  </li>
</ul>


</nav>


