<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
                                    
<nav id="navigation" class="navbar">


  <label for="nav-trigger"><i class="fa fa-bars" aria-hidden="true"> </i><span>Menu</span></label>
  <input type="checkbox" id="nav-trigger" class="nav-trigger">

<ul class="flex text-center">
  <!-- Brand and toggle get grouped for better mobile display -->

  <li class="flex-item ">
    <span class="bullet-info"><a href="/">home</a></span>
  </li>
                          
  <li class="flex-item "> <span class="bullet-info"><a href="/#participate" class="active">participate</a></span>
  </li>
  <li class="flex-item "> <span class="bullet-info"><a href="/kiilopaa">Kiilopää</a></span>
  </li>
</ul>


</nav>


