:root{
  font-size: 0.875em;
}

body
{
  width: 100%;
  background: rgba($background-color, 0.1);

  font-family: 'Source Sans Pro', sans-serif;
  color: $main-text-color;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 910px) {
  body{
    font-size: 14px;
  }

}