.h1{
  color: inherit;
  font-size: 3.5rem;
  margin: auto;
}

.h2{
  color: inherit;
  font-size: 2.7rem;
  margin: auto;
}


@media screen and (max-width: $navi_mobile){

  :root{
    font-size: 0.75em;
  }
}