footer {
	
  box-sizing: border-box;
  border-width: 0 0 3px;

  font-size: 0.75em;
  padding: 30px 20px;
  background: $footer-overlay;
  background: -webkit-linear-gradient($footer-transparent-gradient-stop, $footer-overlay); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient( $footer-transparent-gradient-stop, $footer-overlay); /* Standard syntax */
  width: 100%;
  float: left;
//  bottom: 0px;
//  position: fixed;
}

.footer-placeholder{
  content: "";

  height: 100px;
}

