.skrollr-desktop .navbar:hover{

    .flex-container-navi{

      .flex-item{
         opacity: 0.4;

         &:hover{
           opacity: 1;
           img {
           }
         }
       }
     }
  }

.navbar{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  display: flex;
  background: $footer-overlay;
  flex-direction: column;
  
  label,input  {
    flex: 1;
  }



  .flex-container-navi{
    flex: 1;
    display: flex;

    background: none;
    align-items: baseline;

    .flex-item {
      background: #2A2C39;
      flex: 3;
    }
    .lang-selection {
      background: none;
      flex: 1;
    }
  }

 .bullet-img{
   text-align: center;

   img{
     display: none;
   }

   &:hover{
     img{
       display: block;
     }

   }

 }

$navi_hidden: 735px;
$navi_visible: $navi_hidden - 1;

@media screen and (min-width: $navi_hidden){
  .nav-trigger{
    display: none;
  }
  label[for="nav-trigger"]{
    display: none;
  }

}

@media screen and (max-width: $navi_visible){
  .flex-container-navi{
    flex-direction: column;
    justify-items: center;

    align-items: stretch;
    padding: 0px 10px;
    text-align: center;
    margin: 0;
  }
  .flex-container-navi li {
  
    min-width: 50%;
    
  }


  label[for="nav-trigger"]{
    display: flex;
    margin: auto;
    text-align: center;
    padding: 0 20px;
    align-items: baseline;

    i {
      padding: 20px;
    }
  }
  .nav-trigger:not(checked) + ul {
    display: none;
  }

  .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  label[for="nav-trigger"] {
    cursor: pointer;
  }

  .nav-trigger:checked + label {
    left: 215px;
  }

  .nav-trigger:checked + ul {
    display: flex;
  }
              
}}
