.b-header{
  @include at2x('/images/background', jpg, 2000px, 1000px);
  height: 80vh;
}


#main-header .bcg
{

  height: 100vh;

}

.logo-placeholder{
  position: absolute;
  z-index: 2378;
  top: 60px;
}