.b-img{
  height: 100%;


  &_full-sized{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &_header {
    background-image: url(/images/hero-unit.jpg);
  }
}
