
  @font-face {
    font-family: BebasNeueThin;
    src: url("/fonts/bebas_neue/BebasNeue Thin.otf") format("opentype");
  }
  @font-face {
    font-family: BebasNeueBold;
    src: url("/fonts/bebas_neue/BebasNeue Bold.otf") format("opentype");
  }

