{% include site-header.html %}

{% include font_experiments.html %}

<main role="main" class="">
  {% include site-navigation.html lang=lang %}

  <div id="skrollr-body" >

    <header id="codefreeze.fi"
            class="b-header"
    ><div class="b-header__img b-img b-img_header b-header__title-container b-img_full-sized b-img_parallax"
          data-center="background-position: 50% 0px;"
          data-top-bottom="background-position: 50% -100px;"
          data-anchor-target=".snowflake"
    >
      <div class="image-container flex flex-vertical"
           data-start="opacity: 0.9999"
           data-40-top="opacity: 0"
           data-anchor-target="#codefreeze.fi .h1"
      >
        <h1 hidden="hidden" aria-hidden="true" style="display: none"><span class="snowflake">&#10052;</span><br><span>CodeFreeze</span> </h1>
        <a href="/"class="h1 b-title"><span class="b-title__snowflake">&#10052;</span><span class='b-title__name'>CodeFreeze</span></a>
      </div>
    </div>
    </header>
    <div class="container">

      {% include sections.md %}
      {{ content }}

    </div>
  </div>

</main>
{% include footer.html lang=lang%}

