<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Codefreeze &middot; {{page.title}}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="{{page.description}}" />
    <link
      href="https://fonts.googleapis.com/css?family=Assistant:300,800"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/2018.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/brands.js"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/solid.js"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Supermercado+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include header.html %}
    <main>{{content}}</main>
    <script
      type="text/javascript"
      src="{{ site.baseurl }}/scripts/2018.js"
      defer
    ></script>
  </body>
</html>
