---
---

*, *:before, *:after 
{
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Clearfix */
.cf {
    *zoom: 1;
}
.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body 
{
    background: #1c1c1d;
    font-family: 'Source Sans Pro', sans-serif;
    color: #222222;
    padding: 0;
    margin: 0;
}

a
{
    cursor: pointer;
    text-decoration: none;
    
    &:hover
    {
        text-decoration: underline;
    }
}

p
{
    a
    {
        color: #1e5dd3;
    }
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.width-30
{
    width: 30%;
}

.width-40
{
    width: 40%;
}

.width-50
{
    width: 50%;
}

.width-60
{
    width: 60%;
}

.width-70
{
    width: 70%;
}

.site-nav
{
    z-index: 2000;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    background-color: #FFF;
    border-bottom: 1px solid #717171;
    
    @media all and (max-width: 768px)
    {
        position: relative;
        display: inline-block;
    }
    

    .logo
    {
        float: left;
        
        .snowflake
        {
            color: #749ddd;
            font-size: 16px;
        }
    }
    
    ul
    {
        list-style: none;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    li
    {
        float: left;
        
        a
        {
            color: #202129;
            font-size: 1.2em;
            padding: 1em 1.35em;
            display: block;
            float: left;
            
            &:hover
            {
                text-decoration: none;
                background-color: #152c46;
                color: #FFF;
            }
        }
    }
}

.site-header
{
    z-index: 1000;
    width: 100%;
    text-align: center;
    position: relative;
    color: #FFF;
    margin-bottom: 25px;
    padding-top: 60px;
    
    h1
    {
        font-size: 4em;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 0px;  
    }

    h2
    {
        font-weight: normal;
        font-size: 1.4em;
        margin: 5px 0 0;
    }
    h3
    {
        font-weight: normal;
        margin: 0;
    }
    h4
    {
        font-weight: normal;
    }

    a
    {
      text-decoration: none;
      color: inherit;
    }
}

.snowflake
{
    font-size: 200px;
    line-height: 1;
    font-weight: 600;
    text-shadow: 5px 5px 0px rgba(29, 87, 145, 1);
}

.vertical-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container
{
    max-width: 1000px;
    margin: 0 auto;
}

.full-width
{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.main-content
{
    padding: 2em;
    background: rgba(255,255,255,0.7);
    margin-bottom: 20px;
    border-top: 5px solid #557fd0;
    width: 100%;
    float: left;
    
    h2
    {
        font-weight: 600;
        font-size: 3em;
        margin-top: 0;
    }
    
    .tile
    {
        
    }

    ul
    {
      list-style: none;  
    }
}

.tile
{
    float: left;
    height: 230px;
    text-align: center;
    width: 25%;
    position: relative;
    
    @media all and (max-width: 768px)
    {
        width: 100%;
    }
    
    h3
    {
        font-weight: 600;
        font-size: 30px;
    }
    
    p
    {
        font-size: 17px;
    }
    
    &.text-tile
    {
        background-color: #092f5f;
        color: #FFF;
        padding: 20px;
    }
    
    &.image-tile
    {
        &.photo-1
        {
            background: url(../images/photo-1.jpg);
            background-size: cover;
        }
        
        &.photo-2
        {
            background: url(../images/photo-2.jpg);
            background-size: cover;
        }
        
        
        
        a
        {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.3);
            color: #FFF;
            text-align: center;
            text-decoration: none;
            font-size: 13px;
            padding: 3px 0;
        }
    }
}

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p
{
    &.large
    {
        font-size: 1.4em;
        line-height: 1.5;
    }
}

.text-center
{
    text-align: center;
}

.text-line-through
{
    text-decoration: line-through;
}


.hero-unit
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    &.frontpage
    {
        height: 1000px;
        background-image: url(../images/revontulet.jpg);
        background-size: cover;
        z-index: -1;
    }
    
    
}

.credit-link
{
    position: absolute;
    display: block;
    top: 80px;
    right: 20px;
    color: #d3dee5;
    text-decoration: none;
    z-index: 2000;
    font-size: 13px;
    
    @media all and (max-width: 768px)
    {
        position: relative;
        top: -10px;
        left: 10px;
    }
}

.participants-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    
    li
    {
        display: block;
        float: left;
        text-align: center;
        margin: 0 15px 15px 0;
        
        img
        {
            max-width: 200px;
            border-radius: 30px;
            display: block;
        }
        
        .name
        {
            display: block;
            font-size: 18px;
            font-weight: 600;
            margin: 5px 0 0 0;
        }
        
        a
        {
            color: #195fc7;
        }
    }
}










